// Place all the styles related to the Whiteboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.classname {
	-moz-box-shadow:inset 0px 1px 0px 0px #fae5c0;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fae5c0;
	box-shadow:inset 0px 1px 0px 0px #fae5c0;
	background-color:teal/*#ffce78*/;
	/*-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid white /*#edc651*/;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:5px 4px;
	text-decoration:none;
	/*text-shadow:1px 1px 0px #ccaa54;*/
}.classname:hover {
	background-color: #99CCFF/*#fabe25*/;
}.classname:active {
	position:relative;
	top:1px;
}.classname:visited{
	color: white;
}

tr.front_table:nth-child(even)
{
  background-color:white;
  padding:5px;
  color:black;
	border-style:solid;
	border-width:1px;
	border-color:#99CCFF;
	td
	{
		color: black;
		border-color:#99CCFF;
	}
}

tr.front_table:nth-child(odd)
{
  background-color:#99CCFF;
  padding:5px;
  colr:black;
	border-style:solid;
	border-width:1px;
	border-color:white;
	td
	{
		color: black;
	}
}

tr.front_table:hover
{
  background-color:#0066FF;
  
  td
	{
		color: white;
	} 
}


